.wrapper {
	padding: 80px 0 120px;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 8px;
}

.descriptionMargin {
	margin-bottom: 8px;
}

.description {
	color: var(--gray_70);
	margin-top: 8px;
	margin-bottom: 48px;
}

.card {
	position: relative;

	background-color: var(--gray_10);
	border: 1px solid var(--gray_20);
	border-radius: 24px;

	box-sizing: border-box;
	width: 1200px;
	height: 468px;
	padding: 64px;
}

.cardWrapper + .cardWrapper {
	margin-top: 24px;
}

.orangeTitle {
	color: var(--orange_100);
	margin-bottom: 6px;
}

.cardDescription {
	color: var(--gray_70);
	line-height: 22px;
}

.descriptionWrapper {
	margin-top: 12px;
}

.bodyimg {
	max-width: 740px;
	width: 61.7%;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
}
.donwloadSection {
	margin-top: 80px;
}

.downloadCardWrapper {
	display: flex;
	margin-top: 32px;
}

.downloadCard {
	width: 100%;
	border-radius: 24px;
	text-align: center;
	padding-top: 48px;
}

.downloadCard + .downloadCard {
	margin-left: 24px;
}

.downloadImg {
	width: 100%;
	height: auto;
	line-height: 1;
	margin-bottom: -5px;
}

.handbook {
	background: var(--cardlight_peach);
}

.worksheet {
	background: var(--cardlight_yellow);
}