.wrapper {
	width: 100%;
	
	background-color: var(--gray_10);
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.bgimg {
	width: 2000px;
	height: auto;
}


@media (max-width: 450px) {
	.bgimg {
		width: 100%;
		display: none;
	}

	.wrapper {
		padding: 48px 16px;
		background: url(/img/howtouse-mobile-bg.png);
		box-sizing: border-box;
	}
}