.wrapper {
	padding: 80px 0 120px;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 8px;
}

.descriptionMargin {
	margin-bottom: 8px;
}

.description {
	color: var(--gray_70);
	margin-top: 8px;
	margin-bottom: 48px;
}

.card {
	position: relative;

	background-color: var(--gray_10);
	border: 1px solid var(--gray_20);
	border-radius: 24px;

	box-sizing: border-box;
	width: 1200px;
	height: 468px;
	padding: 64px;
}

.cardWrapper + .cardWrapper {
	margin-top: 24px;
}

.orangeTitle {
	color: var(--orange_100);
	margin-bottom: 6px;
	display: flex;
}

.cardDescription {
	color: var(--gray_70);
	line-height: 22px;
}

.descriptionWrapper {
	margin-top: 12px;
}

.bodyimg {
	max-width: 740px;
	width: 61.7%;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
}
.donwloadSection {
	margin-top: 80px;
}

.downloadCardWrapper {
	display: flex;
	margin-top: 32px;
}

.downloadCard {
	width: 100%;
	border-radius: 24px;
	text-align: center;
	padding-top: 48px;
	overflow: hidden;
}


.downloadCard:hover img {
	transform: scale(1.05);	
}

.downloadCard + .downloadCard {
	margin-left: 24px;
}

.downloadImg {
	width: 100%;
	height: auto;
	line-height: 1;
	margin-bottom: -5px;
	transition: transform 0.5s ease-in-out;
}


.handbook {
	background: var(--cardlight_peach);
}

.worksheet {
	background: var(--cardlight_yellow);
}

.donwloadSection .fileDownloadTitle {
	display: inline-block; 
	margin-bottom: 16px;
}


@media (max-width: 450px) {
	.wrapper {
		padding: 64px 16px 120px;
	}

	.card {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.cardTitle {
		font-size: 22px;
		line-height: 34px;
	}

	.cardContents {
		padding: 48px 32px 16px;
	}

	.cardDescription {
		font-size: 16px;
	}

	.bodyimg {
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.donwloadSection .fileDownloadTitle {
		margin-bottom: 8px;
		font-size: 14px;
	}

	.downloadCardWrapper {
		flex-direction: column;
	}

	.downloadCard + .downloadCard {
		margin-left: 0;
		margin-top: 24px;
	}
}