.wrapper {
	display: flex;
	justify-content: center;

	width: 100%;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;

	width: 1200px;
}

.link {
	text-decoration: none;
}


@media (max-width: 450px) {
	.card {
		width: 100%;
		box-sizing: border-box;
	}
	.cardList {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
		box-sizing: border-box;
	}
}