.wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.button {
	border: 1px solid var(--gray_80);
	background-color: var(--gray_0);
	padding: 7px 16px;
	font-size: 16px;
	line-height: 26px;
	border-radius: 20px;

	cursor: pointer;
}

.selected {
	background-color: var(--gray_90);
	color: var(--gray_0);
}

.button + .button {
	margin-left: 8px;
}


.membersWrapper {
	margin-left: 12px;
}

.memberDefineWrapper {
	width: 336px;
}

.memberDefined + .memberDefined {
	margin-top: 24px;
}

.memberDefineWrapper .memberText {
	color: var(--gray_70);
	margin-top: 6px;
}

.memberDefineWrapper .checkButton {
	width: 100%;
	margin-top: 21px;
	border-radius: 100px;
	height: 48px;
	color: var(--gray_80);
	font-weight: 600;
	
}