.container {
	position: relative;
	width: 282px;
	height: 353px;
	border-radius: 16px;
	transition: transform 0.3s ease-in;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.container.공감 {
	background-color: var(--cardlight_yellow);
	border: 1px solid var(--carddark_yellow);
}

.container.설계 {
	background-color: var(--cardlight_peach);
	border: 1px solid var(--carddark_peach);
}

.container.프로토타입 {
	background-color: var(--cardlight_green);
	border: 1px solid var(--carddark_green);
}

.container.테스트 {
	background-color: var(--cardlight_mint);
	border: 1px solid var(--carddark_mint);
}

.container.출시 {
	background-color: var(--cardlight_purple);
	border: 1px solid var(--carddark_purple);
}


.wrapper, .backWrapper {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 32px 24px 24px;
}

.backWrapper {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.backTitle {
	margin-bottom: 14px;
}

.container:hover {
	transform: translateY(-10px);
}

.container:hover .wrapper {
	visibility: hidden;
}

.container:hover .backWrapper {
	visibility: visible;
}

.badgeWrapper {
	width: 100%;
	position: relative;
}

.badgeContainer {
	width: 100%;
	display: flex;
	align-items: center;
}

.badgeContainer + .badgeContainer {
	margin-top: 6px;
}



.badge {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-radius: 100px;	
	padding: 3px 8px;
}


.badge.공감 {
	background: var(--cardtrans_yellow);
	mix-blend-mode: multiply;
}

.badge.설계 {
	background: var(--cardtrans_peach);
	mix-blend-mode: multiply;
}

.badge.프로토타입 {
	background: var(--cardtrans_green);
	mix-blend-mode: multiply;
}

.badge.테스트 {
	background: var(--cardtrans_mint);
	mix-blend-mode: multiply;
}

.badge.출시 {
	background: var(--cardtrans_purple);
	mix-blend-mode: multiply;
}



.bottomWrapper {
	display: flex;
}

@media (max-width: 450px) {
	.container {
		width: 100%;
		height: 361px;
	}

	.badge {
		padding: 5px 8px;
	}

	.badge .membetText {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
	}
}