.header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 12px 0 12px 5%;
	box-sizing: border-box;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 1200px;
}

.gnbWrapper {
	width: 120px;
	height: 48px;
	background-color: #FF40B3;
}

.link {
	text-decoration: none;
	margin-left: 32px;
}