.header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	align-items: center;
}

.gnbWrapper {
	width: 120px;
	height: 48px;
	background-color: #FF40B3;
}

.link {
	text-decoration: none;
	margin-left: 32px;
}