.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 24px;
	width: 1200px;
}

.body {
	display: flex;
	justify-content: center;

	width: 100%;
}

.contentWrapper {
	width: 1200px;
}

@media (max-width: 450px) {
	.wrapper {
		width: 100%;
	}

	.contentWrapper {
		width: 100%;
	}
}