.wrapper {
	background-color: var(--gray_80);
	width: 100%;
	padding-top: 80px;
}

.bannerTextWrapper {
	margin-bottom: 24px;
}

.bannerText {
	color: var(--gray_0);
	font-weight: 400;
	font-size: 40px;
	font-family: 'Pretendard';
	text-align: center;
	line-height: 52px;
	letter-spacing: -0.2%;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 56px;
}

.imgWrapper {
	width: 100%;
	padding-bottom: 48px;
}

.button {
	width: 180px;
	height: 56px;
}


@media (max-width: 450px) {
	.bannerTextWrapper {
		padding: 0 24px;
	}

	.bannerText {
		font-size: 32px;
		word-wrap: break-word;
		line-height: 42px;
	}

	.button {
		width: 140px;
		height: 56px;
		box-sizing: border-box;
	}
}