.wrapper {
	background-color: var(--gray_10);
	padding: 80px 0 100px;
	box-sizing: border-box;
}

.titleWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.cardWrapper {
	display: flex;
	justify-content: center;
}

.card + .card {
	margin-left: 24px;
}

.link {
	font-size: 16px;
	color: var(--gray_90);
	font-family: 'Pretendard';
	font-weight: 600;
}


@media (max-width: 450px) {
	.wrapper {
		width: 100%;
	}

	.cardWrapper {
		display: block;
		max-width: 100%;
		padding: 0 16px;
		margin: 0;
	}

	.card {
		max-width: 100%
	}

	.card + .card {
		margin-left: 0;
		margin-top: 24px;
	}

	.titleWrapper {
		display: block;
		padding: 0 16px;
		text-align: center;
		margin-bottom: 36px;
	}
}