.wrapper {
	background-color: var(--gray_10);
	padding: 80px 0 100px;
	box-sizing: border-box;
}

.titleWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.cardWrapper {
	display: flex;
	justify-content: center;
}

.card + .card {
	margin-left: 24px;
}

.link {
	font-size: 16px;
	color: var(--gray_90);
	font-family: 'Pretendard';
	font-weight: 600;
}