.wrapper {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

.wrapperReverse {
	display: flex;
	flex-direction: row-reverse;
}

.wrapperReverse .imgWrapper {
	background-color: var(--cardlight_yellow);
}

.imgWrapper {
	width: 50%;
	height: 260px;
	background-color: var(--cardlight_purple);
	border-radius: 20px;
	text-align: center;
}

.img {
	width: auto;
	height: 100%;
	border-radius: 20px;
}

.contentWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	padding: 54px 64px;
	box-sizing: border-box;
}

.buttonWrapper {
	width: 100%;
	text-align: left;
}

.titleWrapper {
	width: 100%;
	text-align: left;
	margin-bottom: 24px;
}