.level_1 {
	font-size: 18px;
	color: var(--gray_70);
	line-height: 1.65;
}

.level_2 {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--gray_90);
}

.level_3 {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--gray_90);
}