.wrapper {
	font-family: 'Pretendard';
	color: var(--gray_90);
	letter-spacing: -0.002em;
}

.wrapper.level-1 {
	font-size: 20px;	
	line-height: 26px;
	font-weight: 600;
}

.wrapper.level-2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.wrapper.level-3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}

.wrapper.level-4 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
}


@media (max-width) {
	.wrapper.level-2 {
		font-size: 20px;
		line-height: 26px;
	}
}