.button_1 {
	font-size: 16px;
	color: var(--gray_90);
	line-height: 26px;
	letter-spacing: -0.6%;
	font-weight: 600;
	font-family: 'Pretendard';
}

.caption {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}