.wrapper {
	font-family: 'Pretendard';
	color: var(--gray_90);
	letter-spacing: -0.002em;
	margin: 0;
	padding: 0;
}

h1.wrapper  {
	font-size: 40px;
	font-weight: 500;
	line-height: 52px;	
}

h2.wrapper {
	font-size: 32px;
	font-weight: 500;
	line-height: 46px;
}

h3.wrapper {
	font-size: 24px;
	font-weight: 500;
	line-height: 34px;
}