.wrapper {
	padding: 20px;
	background-color: var(--gray_0);
	border-radius: 16px;
}

.navWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.navWrapper .left {
	transform: rotate(90deg);
}

.navWrapper .right {
	transform: rotate(-90deg);
}

.navWrapper .processName {
	font-family: 'Pretendard';
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 4px;
	color: var(--gray_90);
}

.descriptionWrapper {
	text-align: center;
	color: var(--gray_70);
	padding: 0 20px;
	word-break: keep-all;
}

.processText {
	color: var(--gray_80);
	padding: 16px 20px 16px 0;
}

.processText.selected {
	color: var(--gray_90);
	font-weight: 700;
}

.tabItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.confirmButton {
	width: 100%;
	font-weight: 600;
}