.wrapper {
	display: flex;
	align-items: center;

	width: 100%;
	padding: 10px 8px;
	background-color: var(--gray_0);
	border-radius: 100px;
}

.arrowWrapper {
	width: 32px;
	height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	content: " ";
	width: 32px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	width: 100%;
	padding: 12px 0;
}

.selected {
	background-color: var(--gray_90);
	border-radius: 100px;
}

.selected span {
	color: var(--gray_0);
}