.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	width: 590px;
	height: 84px;
	box-sizing: border-box;
	padding: 29px 24px;
	border: 1px solid var(--gray_20);
	border-radius: 16px;
}

.title {
	font-weight: 600;
}