.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	
	padding: 0 24px;
	width: 792px;
	height: 84px;
	background-color: #fff;
	border-radius: 16px;
}

.wrapper + .wrapper {
	margin-top: 16px;
}

.button {
	font-size: 14px;
	font-weight: 600;
	font-family: "Pretendard";
	height: 36px;
	padding: 0;
}

@media (max-width: 450px) {
	.wrapper {
		width: 100%;
		padding: 24px;
		height: auto;
	}

	.title {
		display: flex;
		flex-direction: column;
		
	}

	.wrapper .title {
		font-size: 16px;
		line-height: 24px;
	}
}