.wrapper {
	display: flex;
}

.wrapper + .wrapper {
	margin-left: 32px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.name {
	font-weight: 400;
	color: var(--gray_100);
}

.value {
	margin-left: 4px;
	color: var(--gray_60);
}