.wrapper {
	display: flex;
	justify-content: center;

	background-color: white;

	width: 100%;
}

.contentWrapper {
	width: 1200px;
	padding: 64px 0 32px;
}

.content {
	font-size: 16px;
	color: var(--gray_80);
	line-height: 26px;
	font-family: "Pretendard";
}

.content h1 {
	color: var(--gray_90);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 8px;
}

.content ol {
	padding-inline-start: 16px;
}

.content ol li {
	margin-bottom: 0;
}



.content * {
	margin-top: 0;
	margin-bottom: 64px;
}


.content iframe {
	border: 1px solid var(--gray_20);
	border-radius: 20px;
}

.linkWrapper {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
}

.linkWrapper > a {
	font-size: 16px;
}

.downloadWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border-bottom: 1px solid var(--gray_20);
	padding-bottom: 80px;
}