.wrapper {
	display: flex;
	justify-content: center;

	background-color: white;

	width: 100%;
}

.contentWrapper {
	width: 1200px;
	padding: 64px 0 32px;
}

.content {
	font-size: 16px;
	color: var(--gray_80);
	line-height: 26px;
	font-family: "Pretendard";
}

.content h1 {
	color: var(--gray_90);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 8px;
	
}

.content h1:not(:first-child) {
	margin-top: 64px;
}

.content ol {
	padding-inline-start: 16px;
	
}

.content ol li {
	margin-bottom: 0;
}


.content ol li ul {
	padding: 0;
	list-style: disc;
	margin-bottom: 24px;
}


.content ul li {
	margin-bottom: 0;
}

.content blockquote {
	background-color: var(--gray_5);
	border-radius: 16px;
	margin: 0;
	padding: 24px;
	color: var(--gray_70);
	font-size: 16px;
	margin-top: 64px;
}

.content blockquote ul {
	padding-left: 24px;
	
}

.content blockquote ul li {
	font-size: 16px;
}

.content blockquote ul li::marker {
	font-size: 10px;	
}

.content blockquote h1:not(:first-child) {
	margin-top: 16px;
}


.content * {
	margin-top: 0;
}


.content iframe {
	border: 1px solid var(--gray_20);
	border-radius: 20px;
	max-width: 100%;
	margin-top: 64px;
}

.linkWrapper {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
}

.linkWrapper > a {
	font-size: 16px;
	font-weight: 600;
	font-family: "Pretendard";
}

.downloadWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border-bottom: 1px solid var(--gray_20);
	padding-bottom: 80px;
}

.message {
	color: var(--gray_0);
	font-size: 16px;
}

@media (max-width: 450px) {
	.contentWrapper {
		width: 100%;
		padding: 64px 24px;
		box-sizing: border-box;
	}

	.downloadWrapper {
		flex-direction: column;
	}

	.downloadWrapper {
		padding-bottom: 48px;
	}
}